@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.liquidity-gradient {
  background: linear-gradient(135deg, #006c4f 0%, #01bc8d 100%);
}

.glass-header {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(24px);
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #ffffff;
  color: #191c1e;
}

.landing-page-bg {
  background-color: #f7f9fb;
  min-height: 100vh;
}
